.card{
    margin: 0 auto 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 600px;
    max-height: 600px;
}
.card-body{
    outline: black 3px solid;
    background-color: lightgray;
    color: white;
}
.background{
    background-color: #163e36;
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
.jumbotron{
    background-image: url(https://i.ytimg.com/vi/twqXfF6hMAQ/maxresdefault.jpg);
    border-radius: 0px !important;
    margin-bottom: 0;
}
.card-img-top{
    max-height: 400px;
}
.outline{
    outline: solid black 1px;
}